<h2><%= @user.username %></h2>
<p>Email: <%= @user.email %>   TODO Send Email</p>
<p>Member Since: <%= time_ago_in_words(@user.created_at) %> ago</p>
<p>Last Online: <%= time_ago_in_words(@user.last_seen) %> ago</p>

